# SPDX-FileCopyrightText: 2024 Philipp Micheel <bbx0+borgreport@bitdevs.de>
# SPDX-License-Identifier: GPL-3.0-or-later

#
# borgreport is configured with environment variables
#
# Adjust variables for the borgreport service via:
#  System Service:  sudo systemctl edit borgreport.service
#  User Service:    systemctl --user edit borgreport.service
#

[Unit]
Description=BorgBackup Report
Documentation=man:borgreport(1)
Documentation=https://github.com/bbx0/borgreport

[Service]
Type=notify
NotifyAccess=main

# Write the text report to a file. (Default: "-" for stdout)
Environment=BORGREPORT_TEXT_TO=-

# Send the report via sendmail. (Default: empty)
#Environment=BORGREPORT_MAIL_TO=
# Override the default sender address. (Default: empty)
#Environment=BORGREPORT_MAIL_FROM=

# Write the HTML report to a file. (Default: empty)
#Environment=BORGREPORT_HTML_TO=

# Write the metrics to a file. (Default: "$STATE_DIRECTORY/borgreport/metrics")
#  System Service:  /var/lib/borgreport/metrics
#  User Service:    $XDG_STATE_HOME/borgreport/repo => ~/.local/state/borgreport/metrics
Environment=BORGREPORT_METRICS_TO=%S/%N/metrics
StateDirectory=%N

# Run `borg check` on each repository as part of the report. (Default: false)
Environment=BORGREPORT_CHECK=false

# Look for repository *.env files in this directory. (Default: "$CONFIGURATION_DIRECTORY/borgreport/repos")
# An *.env file contains BORG_* vars describing the access to a repository.
#  System Service: /etc/borgreport/repos
#  User Service:   $XDG_CONFIG_HOME/borgreport/repos => ~/.config/borgreport/repos
Environment=BORGREPORT_ENV_DIR=%E/%N/repos
ConfigurationDirectory=%N/repos
ConfigurationDirectoryMode=0700

# Use the default ExecSearchPath to find the binary
ExecStart=borgreport
